.fon {
  width: 100%;
}
.profile{
  padding: 20px;
}
.profile__photo{
  border-radius: 30px;
  margin-right: 100px;
  min-width: 200px;
}
.profile__content{
  display: flex;

}
.contacts{
  padding-left: 20px;
}