.app-wrapper {
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  background-color: #68829e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.app-wrapper-content {
  height: 100%;
  width: calc(1270 / 1440 * 100%);
  background-color: #fff;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
}
