@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #aebd38;
}
.active {
  color: #aebd38;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  font-family: "Exo 2", sans-serif;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
#root {
  min-height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}
#root .mypost_button {
  padding-right: 50px;
  padding-left: 50px;
}
