.nav {
  padding-left: 107px;
  display: flex;
  justify-content: center;
}
.item:first-child {
  margin-right: 48px;
}
.item {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #505160;
}
@media (max-width: 860px) {
  .nav {
    padding-left: 67px;
  }
}
@media (max-width: 670px) {
  .nav {
    padding-left: 20px;
  }
  .item:first-child {
    margin-right: 20px;
  }
}
